/* This file contains styles that are applicable to the whole site */

/* layout styles USING CSS Grid */
body {
   display: grid;
   grid-template-columns: 1fr 1fr 7fr 1fr;
}

header {
   grid-column: 1/3;
}
nav {
   grid-column: 3/5;
}
main {
   grid-column: 2/4;
}
footer {
   grid-column: 1/5;
   grid-row: 3;
   text-align: center;
   font-size: 1.3em;
   font-weight: bold;
}


/* typography styles */
body {
   font-family: 'Open Sans', sans-serif;
   /*background: url('../backgrounds/dust_scratches.png');*/
}

h1, h2 {
   font-family: Glegoo, 'Open Sans', sans-serif;
}

header {
   font-family: Glegoo, 'Open Sans', sans-serif;
   font-size: 1.7em;
   font-weight: bold;
   padding: 0;
   margin: 0;
}
   header p {
      padding: 0;
      margin: 0;
   }
 
/* navigation styles */
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 15px;
   text-align: right;
}

   nav ul li {
      display: inline;
   }

      nav ul li a {
         font-size: 1.3em;
         color: #333;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
      }

      nav ul li a:hover {
         color: #fff;
         background-color: #333;
      }

      .active {
         color: #fff;
         background-color: #333;
      }


/* Table styles */
table {
   margin-left: 100px;
   margin-top: 10px;
   margin-bottom: 30px;
   color: #333;
   background: white;
   border: 1px solid grey;
   border-collapse: collapse;
   font-size: 1em;
 }
   table caption {
      padding: .5em;
   }

   table thead th,
   table tfoot th {
      color: #777;
      background: rgba(0,0,0,.1);
   }
   table th,
   table td {
      padding: .5em;
      border: 1px solid lightgrey;
      text-align: right;
   }


/* Form element styles */
/* button style */
/* [input type="text"] style*/
button {
    background-color: gray;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Responsive styles */
@media screen and (max-width: 600px){
   header { grid-column: 1/12; text-align: center; font-size: 1em; }
   nav { grid-column: 1/12; font-size: .7em; }
   nav ul li a { display: block; }
   footer { grid-row: 4; }
}