#add-new-respondent, #respondents-list {
   padding-left: 20px;
   padding-bottom: 20px;
   border: 1px solid #dbdbdb;
   box-shadow: 0 2px 5px #e8e8e8;
}

#add-new-respondent {
   margin-bottom: 20px;
}

.delete-respondent-button {
   background-color: gray;
   color: white;
   text-decoration: none;
   font-size: 0.9em;
   padding: 5px;
}
   .delete-respondent-button:hover {
      padding: 4px;
   }


.error-message {
   color: red;
}

.success-message {
   color: green;
}